<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.context-helpers</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ cli_executable }}</string>
        <string>start</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{ log_dir }}/context-helpers.log</string>

    <key>StandardErrorPath</key>
    <string>{{ log_dir }}/context-helpers.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>CONTEXT_HELPERS_CONFIG</key>
        <string>{{ config_path }}</string>
    </dict>
</dict>
</plist>
